<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pilz_amr">
  <xacro:macro name="base" params="name parent *origin">
    <link name="${name}">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 1.57" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 1.57" />
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <axis xyz="0 0 -1" />
      <joint_properties damping="1" friction="1" />
      <parent link="${parent}" />
      <child link="${name}" />
    </joint>
  </xacro:macro>
</robot>