<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pilz_fair_revpi">

  <xacro:include filename="$(find pilz_fair_revpi)/urdf/xacros/base.xacro"/>
  <xacro:include filename="$(find pilz_fair_revpi)/urdf/xacros/caster_wheel.xacro"/>
  <xacro:include filename="$(find pilz_fair_revpi)/urdf/xacros/wheel_left.xacro"/>
  <xacro:include filename="$(find pilz_fair_revpi)/urdf/xacros/wheel_right.xacro"/>
  <xacro:include filename="$(find pilz_fair_revpi)/urdf/xacros/psen_scan.xacro"/>

  <link name="base_footprint" />

  <xacro:base name="base_link" parent="base_footprint">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:base>

  <xacro:caster_wheel name="caster_wheel_front_left" parent="base_link">
    <origin xyz="0.165 0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>
  <xacro:caster_wheel name="caster_wheel_back_left" parent="base_link">
    <origin xyz="-0.220 0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>
  <xacro:caster_wheel name="caster_wheel_front_right" parent="base_link">
    <origin xyz="0.165 -0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>
  <xacro:caster_wheel name="caster_wheel_back_right" parent="base_link">
    <origin xyz="-0.220 -0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>
  <xacro:wheel_right name="wheel_right" parent="base_footprint">
    <origin xyz="0 -0.260 0.074" rpy="0 0 1.57" />
  </xacro:wheel_right>
  <xacro:wheel_left name="wheel_left" parent="base_footprint">
    <origin xyz="0 0.260 0.074" rpy="0 0 1.57" />
  </xacro:wheel_left>

  <xacro:psen_scan prefix="laser_1" parent="base_footprint" ros_topic="laser_1/scan_filtered">
    <origin xyz="0.235 0 0.093" rpy="0 0 0" />
  </xacro:psen_scan>
</robot>